*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/.github
!/.github/*
pub/media/*
.DS_Store
/var/*
/pub/static/*
/generated/code/*

# PWA theme
!app/design/frontend/Tigren/pwa/*
app/design/frontend/Tigren/pwa/node_modules
app/design/frontend/Tigren/pwa/npm-debug.log
app/design/frontend/Tigren/pwa/.DS_Store
app/design/frontend/Tigren/pwa/.vscode
app/design/frontend/Tigren/pwa/jsconfig.json
app/design/frontend/Tigren/pwa/coverage
app/design/frontend/Tigren/pwa/test-results
app/design/frontend/Tigren/pwa/dist
app/design/frontend/Tigren/pwa/storybook-dist
app/design/frontend/Tigren/pwa/.idea
app/design/frontend/Tigren/pwa/test-report.xml
app/design/frontend/Tigren/pwa/test-results.json
app/design/frontend/Tigren/pwa/.env
app/design/frontend/Tigren/pwa/yarn-error.log
app/design/frontend/Tigren/pwa/docker/certs
app/design/frontend/Tigren/pwa/.history
!app/design/frontend/Tigren/pwa/**/__fixtures__/*/node_modules
app/design/frontend/Tigren/pwa/packages/**/*.tgz
!pwa-watch.sh
!pwa-deploy.sh
!pwa-build-analyze.sh
