<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="TigrenCatalogFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Tigren\CustomerGroupCatalog\Model\ResouceModel\Rule\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tigren_customer_group_catalog_rule</argument>
            <argument name="resourceModel" xsi:type="string">Tigren\CustomerGroupCatalog\Model\ResourceModel\Rule</argument>
        </arguments>
    </virtualType>
    <virtualType name="TigrenCustomerDataProiver" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Tigren\CustomerGroupCatalog\Model\ResouceModel\Rule\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">TigrenCatalogFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customer_catalog_listing_data_source" xsi:type="string">Tigren\CustomerGroupCatalog\Model\ResouceModel\Rule\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Tigren\CustomerGroupCatalog\Api\Data\RuleInterface" type="Tigren\CustomerGroupCatalog\Model\Rule" />
    <preference for="Tigren\CustomerGroupCatalog\Api\RuleRepositoryInterface" type="Tigren\CustomerGroupCatalog\Model\RuleRepository" />
    <type name="Magento\Catalog\Pricing\Render\FinalPriceBox">
        <plugin name="hide_price" type="Tigren\CustomerGroupCatalog\Plugin\HidePrice"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="hide_price" type="Tigren\CustomerGroupCatalog\Plugin\HideAddToCart"/>
    </type>
     <type name="Magento\CatalogWidget\Block\Product\ProductsList">
        <plugin name="add_price_discount" type="Tigren\CustomerGroupCatalog\Plugin\AddPriceDiscount"/>
    </type>
</config>
