<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Tigren_Customer::view" title="Tigren" module="Tigren_Customer" sortOrder="50" resource="Tigren_Customer::view"/>
        <add id="Tigren_Customer::menu" title="Tigren Question" module="Tigren_Customer" sortOrder="20" parent="Tigren_Customer::view" action="tigren_customer/post/index" resource="Tigren_Customer::menu"/>
    </menu>
</config>
